#################
## Config
#################

config.ini.php
nav.php
footer.php
.htaccess
.dropbox
desktop.ini
README.md

#Ignore all files in pages folder.
inc/pages/*
#Except these two:
!inc/pages/main.page.php
!inc/pages/login.page.php
!inc/pages/signout.page.php
!inc/pages/template.page.php


Rememberme/*
inc/modules/config.module.ini.php
.htaccess
inc/PlexUser_ext.php